doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ⛺ Tent
    link(rel='stylesheet', href='../style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,900;1,400&display=swap', rel='stylesheet')
  body
    .logo ⛺ Tent
    p.punchline A simpler way to add reactivity to the web.
    #get-started.description
      p
        | A <b>jsx-free</b>, <b>super-lightweight</b> and <b>zero-dependency</b> library to add reactivity to the web &mdash; without all the nonsense.
      p
        | Tent is a <b>tiny</b> library that allows you to create reactive components in a way that is <b>simple</b> and <b>intuitive</b>. It's perfect for those who want to avoid the complexity of larger libraries.
      a(href="https://github.com/tentjs/tent" class="cta") Get Started
