doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ⛺ Tent
    link(rel='stylesheet', href='../style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,900;1,400&display=swap', rel='stylesheet')
  body
    .logo ⛺ Tent
    #get-started.description
      p
        | A jsx-free, super-lightweight and zero-dependency library to add interactivity to the web &mdash; without all the nonsense.

    script(type='module', src='../main.ts')
