:root {
  --color-primary: #ffa07a;

  --color-white: #fbf7f0;
  --color-black: #191919;

  --color-grey-100: #2b2b2b;
  --color-grey-200: #242424;

  --color-pink-100: #dcc6e0;
}

body {
  background-color: var(--color-white);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a.cta {
  padding: 4px 8px;
  border-radius: 6px;
  border: 0;
  text-decoration: none;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-grey-100);
  cursor: pointer;
  padding: 6px 14px;
  margin-top: 24px;
  display: inline-block;
  transition: border-radius 0.2s ease-in-out;

  &:hover {
    border-radius: 8px;
  }
}

.logo {
  font-size: 54px;
  font-weight: 900;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 12px;
  @media (max-width: 700px) {
    margin-top: 40px;
  }

  span {
    color: var(--color-grey-100);
    font-weight: normal;
  }
}

.description {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 550px;
  padding: 0 18px;
  @media (max-width: 700px) {
    margin-bottom: 40px;
  }
}

.punchline {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  font-weight: 700;
}
